@use "../../../assets/colors";

.footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: colors.$gray;
  margin-top: 155px;

  p {
    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
