@use "../../../common/ui/assets/colors";

.hero {
  width: 100%;
  min-height: 140px;
  border-radius: 8px;
  background-image: url("../../../common/ui/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 60%;
    position: relative;

    input {
      width: 100%;
      padding: 20px 200px 20px 50px;
      outline: none;
      border: none;
      border-radius: 4px;
      font-size: 12px;
      color: colors.$text-black;
    }

    button {
      position: absolute;
      top: 5%;
      right: 4px;
      height: 90%;
      font-size: 16px;
      font-weight: 500;
      padding: 14px 48px;
      background-color: colors.$primary;
      color: colors.$white;
      outline: none;
      border: none;
      border-radius: 4px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 20px;
      fill: colors.$gray;
      transform: translateY(-50%);
    }
  }
}
