@use "../../assets/colors";

.supText {
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: colors.$gray;
  font-weight: 500;
  font-size: 12px;

  svg {
    width: 16px;
    fill: colors.$gray;
  }
}
