@use "../../common/ui/assets/colors";

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 32px;
  font-family: "Roboto", sans-serif;
  margin-top: 44px;

  .job-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .noData {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: colors.$dark-primary;
  }
}
